.button-basket {
    cursor: pointer;
    width: 100%;
    padding: 8px 24px;
    color: #f8fdfe;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background: #4c394e;
    border: 0;
}

.basket-button-active {
    background: #4d762d;
  }