.chat-button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    bottom: 200px;
    left: calc(50% + 600px);
    cursor: pointer;
  }
  
  .chat-button__background {
    fill: #10bbd5;
  }
  .chat-button__icon {
    position: absolute;
    top: 9px;
    left: 12px;
  }