@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin main-container-price-font{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}