.footer {
    background-color: #4c394e;
  }
  .footer__info {
    @include flex-center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #f8fdfe;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .footer__copy-rights {
    margin: 0;
  }
  