.header-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.header-top {
  background-color: $header-background;

  &__logo-cart {
    @include flex-center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 1296px;
    margin: 0 auto;
    position: relative;
    font-family: Cabin;
  }
  &__cart {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__cart-number {
    position: absolute;
    top: 6px;
    right: 14px;
  }

  &__price {
    margin: 0;
  }
}

.header-bottom {
  @include flex-center;
  font-family: Cabin;
  background: #fff;

  .header-bottom__option {
    display: flex;
    gap: 40px;
  }
  .filters-category {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
