.main{
    background: #EEEEEF;
  }
  .main-container {
    margin-top: 98px;
    padding-bottom: 120px;
  }
  
  .main-container__text {
    padding-top: 32px;
    padding-bottom: 23px;
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #a8a8a8;
    font-family: Cabin;
  }
  
  .main-container__product-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 24px;
    row-gap: 32px;
    padding-left: 0;
    padding-top: 24px;
    justify-items: center;
  }
  
  .main-container__product-card-styles {
    position: relative;
  }
  
  .main-container__product-card-content {
    padding: 31px;
    border: 1px solid #a8a8a8;
    box-sizing: border-box;
    background-color: $card-background;
  }
  .main-container__product-item {
    margin-left: 32px;
    box-sizing: content-box;
  }
  .main-container__article-author-price {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 242px;
  }
  .main-container__article {
    border-bottom: 1px solid #a8a8a8;
    color: #1f1f1f;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
    font-family: Cabin;
  }
  .main-container__author {
    color: #8e8e8e;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Cabin;
  }
  .main-container__price-old {
    color: #8e8e8e;
    @include main-container-price-font;
    text-decoration-line: strikethrough;
    padding-left: 24px;
    font-family: Cabin;
  }
  .main-container__price {
    color: #e90000;
    @include main-container-price-font;
    margin-top: 8px;
    text-decoration: none;
    font-family: Cabin;
  }

  .main-container__article-special {
    width: 242px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  .main-container__badge{
    color: #f8fdfe;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .main-container__badge-hit {
    background: #4200ff;
    position: absolute;
    top: 16px;
    left: 32px;
  }
  .main-container__badge-new{
    background: #AF39E7;
    position: absolute;
    top: 16px;
    left: 30px;
  }
  .main-container__badge-discount{
  background: #EA33C0;
  position: absolute;
    top: 16px;
    left: 72px;
  }
  
  .main-container__new-discount{
    position: absolute;
    top: 16px;
    left: 80px;
  }
  
  .main-container__discount{
    position: absolute;
    top: 16px;
    left: 32px;
  }
  